@font-face {
	font-family: 'Biko';
	src: url($fonts_path+'Biko-Light.eot');
	src: url($fonts_path+'Biko-Light.eot?#iefix') format('embedded-opentype'),
		url($fonts_path+'Biko-Light.woff') format('woff'),
		url($fonts_path+'Biko-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Biko';
	src: url($fonts_path+'Biko-Black.eot');
	src: url($fonts_path+'Biko-Black.eot?#iefix') format('embedded-opentype'),
		url($fonts_path+'Biko-Black.woff') format('woff'),
		url($fonts_path+'Biko-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Biko';
	src: url($fonts_path+'Biko-Bold.eot');
	src: url($fonts_path+'Biko-Bold.eot?#iefix') format('embedded-opentype'),
		url($fonts_path+'Biko-Bold.woff') format('woff'),
		url($fonts_path+'Biko-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Biko';
	src: url($fonts_path+'Biko.eot');
	src: url($fonts_path+'Biko.eot?#iefix') format('embedded-opentype'),
		url($fonts_path+'Biko.woff') format('woff'),
		url($fonts_path+'Biko.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}




@font-face {
	font-family: 'Baskerville MT Std';
	src: url($fonts_path+'BaskervilleMTStd-Italic.eot');
	src: url($fonts_path+'BaskervilleMTStd-Italic.eot?#iefix') format('embedded-opentype'),
		url($fonts_path+'BaskervilleMTStd-Italic.woff') format('woff'),
		url($fonts_path+'BaskervilleMTStd-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Baskerville MT Std';
	src: url($fonts_path+'BaskervilleMTStd-BoldIt.eot');
	src: url($fonts_path+'BaskervilleMTStd-BoldIt.eot?#iefix') format('embedded-opentype'),
		url($fonts_path+'BaskervilleMTStd-BoldIt.woff') format('woff'),
		url($fonts_path+'BaskervilleMTStd-BoldIt.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Baskerville MT Std';
	src: url($fonts_path+'BaskervilleMTStd-SemiBdIt.eot');
	src: url($fonts_path+'BaskervilleMTStd-SemiBdIt.eot?#iefix') format('embedded-opentype'),
		url($fonts_path+'BaskervilleMTStd-SemiBdIt.woff') format('woff'),
		url($fonts_path+'BaskervilleMTStd-SemiBdIt.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Baskerville MT Std';
	src: url($fonts_path+'BaskervilleMTStd-Regular.eot');
	src: url($fonts_path+'BaskervilleMTStd-Regular.eot?#iefix') format('embedded-opentype'),
		url($fonts_path+'BaskervilleMTStd-Regular.woff') format('woff'),
		url($fonts_path+'BaskervilleMTStd-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Baskerville MT Std';
	src: url($fonts_path+'BaskervilleMTStd-SemiBd.eot');
	src: url($fonts_path+'BaskervilleMTStd-SemiBd.eot?#iefix') format('embedded-opentype'),
		url($fonts_path+'BaskervilleMTStd-SemiBd.woff') format('woff'),
		url($fonts_path+'BaskervilleMTStd-SemiBd.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Baskerville MT Std';
	src: url($fonts_path+'BaskervilleMTStd-Bold.eot');
	src: url($fonts_path+'BaskervilleMTStd-Bold.eot?#iefix') format('embedded-opentype'),
		url($fonts_path+'BaskervilleMTStd-Bold.woff') format('woff'),
		url($fonts_path+'BaskervilleMTStd-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}




